<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <header th:fragment="cabecalho">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/todos" class="navbar-brand">FavContacts</a>
                <form action="" class="d-flex">
                    <input class="form-controll me-2" type="search" placeholder="Buscar">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
</body>

</html>